@font-face {
	font-family: 'Roboto Light';
	src: url(fonts/Roboto-Light.ttf);
}

body {
	overflow: hidden;
	color: #fff;
	background: #2C2C2C;
	font-family: 'Roboto Light', Helvetica, Arial, sans-serif;
	font-size: 300%;
}


x-card {
  width: 100%;
}

x-card:nth-child(1), x-card:nth-child(2), x-card:nth-child(3), x-card:nth-child(4), x-card:nth-child(5), x-card:nth-child(6), x-card:nth-child(7), x-card:nth-child(8){
  width: 18%;
  float: left;
  padding: 2rem;
}

x-card:nth-child(9) {
  width: 18%;
  float: left;
  height: 100%;
  overflow: auto;
  padding: 2rem;
}

x-single{
  float: middle;
  height: 100%;
  overflow: auto;
  padding-top: 2rem;
  padding-bottom: 2rem;
  font-size: 1000%;
}

x-deck {
	height: 100%;
}

.space{
	padding: 1rem;
	padding-top: 3rem;
	padding-bottom: 3rem;
	border: 2px solid #dddddd;
    border-radius: 25px;
    text-align: center;
}